@page "/pages/blazor"
@using Advanced.Blazor

@{
    ViewBag.Title = "Блазор страница";
}

<h4 class="text-center">@ViewBag.Title</h4>

<a asp-page="Index" class="btn btn-dark"> Главная страница </a>

<component type="typeof(Events)" render-mode="Server"/>

<h4 class="text-center">Buildings</h4>

<component type="typeof(Buildings)" render-mode="Server"/>