@page "/pages"
@using Advanced.Blazor
@model IndexModel
@{
    ViewData["Title"] = "Работники";
}

<h4 class="text-center">@ViewBag.Title</h4>

<a asp-controller="Home" asp-action="Index" class="btn btn-dark">На главную HomeController</a>
<a asp-page="Blazor" class="btn btn-dark">Блазор</a>

<component type="typeof(PeopleList)" render-mode="Server" param-itemcount="5" param-selecttitle="@("Локация")"/>
