<nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="main-menu">
            <li class="active-link">
                <a asp-controller="Home" asp-action="Index">
                    <i class="fa fa-desktop "></i>Секретная страница <span class="badge">Посмотри</span>
                </a>
            </li>
            <li>
                <a asp-controller="Product" asp-action="Index">
                    <i class="fa fa-table "></i>Редактирование товаров <span class="badge">Новое</span>
                </a>
            </li>
        </ul>
    </div>
</nav>
<!-- /. NAV SIDE  -->