@using Advanced.Blazor
@model Advanced.Controllers.PersonsWebModel
@{
    ViewBag.Title = "Работники";
}

<h4 class="text-center">@ViewBag.Title</h4>

<component type="typeof(PeopleList)" render-mode="Server"/>
