@model WebApplication1.Domain.WebModel.AjaxTest.AjaxTestDataWebModel

<h5>Представление AJAX</h5>
<p>Ответное - id: @Model.Id, сообщение: @Model.Message </p>
<p>Серверное время: @Model.ServerTime.ToString("R")</p>
