@{
    ViewBag.Title = "Профиль пользователя";
    Layout = "_UserProfileLayout";
}

<div class="row form-group">
    <h2>@ViewBag.Title</h2>
</div>

<div class="alert alert-success">
    <p>Приветствую тебя, пользователь!</p>
</div>