<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Магазин - тест 2</h1>
    <hr />
    <div>
        <a href="/Home/Persons">Сотрудники магазина</a>
    </div>
    <hr />
    

</body>
</html>
